<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

<body>

<div class="container">
  <h1>My Landing page</h1>
  <p class="text-primary">Welcome to my website.</p>
  <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>Test</h1>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>Test</h1>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>Test</h1>
      </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dhaval</td>
        <td>Parikh</td>
        <td>dparikh@samsung.com</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
